<h1>Yubisashi</h1>

<% @entries.each do |entry| %>
  <div class="entry">
    <div class="entry-content">
      <label>English</label>
      <div><%= entry.english %></div>
      <label>Japanese</label>
      <div><%= entry.japanese %> <a href="javascript:void(0)">(Romaji)</a></div>
      <div class="romaji" id="romaji<%= entry.id %>">
        <label>Romaji</label>
        <div><%= entry.romaji %></div>
      </div>
    </div>
    <div><%= entry.comment %></div>
    <div>
      <%= link_to 'Show', entry %> <%= link_to 'Edit', edit_entry_path(entry) %>&nbsp;
      <%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Entry', new_entry_path %>
