<p id="notice"><%= notice %></p>

<div class="entry">
  <div class="entry-content">
    <label>English</label>
    <div><%= @entry.english %></div>
    <label>Japanese</label>
    <div><%= @entry.japanese %></div>
    <label>Romaji</label>
    <div><%= @entry.romaji %></div>
  </div>
  <div><%= @entry.comment %></div>
</div>

<%= link_to 'Edit', edit_entry_path(@entry) %>&nbsp;
<%= link_to 'Back', entries_path %>
